﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="test.aspx.cs" Inherits="Ethics.test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <script language="javascript">
         function txtOnchangeEvent(control) {
             var controlid = control.id;
             alert(controlid);
         }
    </script>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <asp:Repeater ID="rptrContinent" runat="server">
                        <HeaderTemplate>
                            <tbody>
                        </HeaderTemplate>
                        <ItemTemplate>
                            <tr>
                                <td>
                                    <asp:LinkButton ID="lnkcount" OnClientClick="txtOnchangeEvent(this);" runat="server" Text='<%# Eval("count") %>'></asp:LinkButton>
                                </td>
                               
                             
                            </tr>
                        </ItemTemplate>
                        <FooterTemplate>
                            </tbody> </table>
                        </FooterTemplate>
                    </asp:Repeater>
    </div>
    </form>
</body>
</html>
