﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true"
    CodeBehind="Thanks.aspx.cs" Inherits="Ethics.Thanks" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <h1>
        Thanks to take your time to finish online Training.</h1>
    <asp:Button ID="btngoback" runat="server" Text="Back to Training" 
        class="btn btn-primary" onclick="btngoback_Click" />
</asp:Content>
