body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color:#FFFFFF;
	/*background-color: #EEEEEE;*/
	min-width:100px;
/*	background-image: url(images/bg_cloud.jpg);*/
	background-repeat: repeat;
	background-position: center top;
}
* {
	margin: 0px;
	padding: 0px;
}

.log_right {
	background-color: #BC141A;
	position:inherit;
	float:right;
	height: auto;
	width: 30%;
	top: 0px;
	right: 0px;
	color: #FFFFFF;
	margin: -59px 0px -28px 28px;
}
.container
{
    width: 70%;
    background-image: url('businessethicspage.jpg');
    background-position: center top;
    text-align: center;
}
.container_new{
	width:100%;
	margin:0px;
	padding:0px;
	z-index:-100;
	 background-position: center;
	background-image:url('businessethicspage.jpg');
}
.login_box {
	padding: 60px 45px 30px 40px;
}
.tlabel {
	display: block;
	padding-top: 15px;
	padding-bottom: 6px;
	font-size: 14px;
}

.no_login {
	font-family: "Trebuchet MS";
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 10px;
}
h1 {
	padding-bottom: 15px;
	font-size: 30px;
	font-weight: normal;
}
.para1 {
	padding-bottom: 30px;
	font-size: 14px;
}
.btn_submit {
	background-color: #FF9313;
	margin-top: 0px;
	color: #FFFFFF;
	padding: 9px 20px;
	cursor:pointer;
	border:none;
	font-size: 14px;
	font-weight: bold;
}
.forgot {
	color: #FFFFFF;
	display: inline-block;
	padding-top:15px;
}
.container2 {
	width: 1000px;
	margin: auto;
}
.prod_box {
	padding: 22px 15px;
	width: 280px;
	height: 100px;
	margin-right: 20px;
	margin-bottom: 22px;
	position: relative;
	float: left;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	text-align: left;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: inset 0px 0px 9px 2px rgba(1, 1, 1, .2);
        
        box-shadow: inset 0px 0px 9px 2px rgba(1, 1, 1, .2);
}
.prod_box:hover { background-color:rgba(255,255,255,0.9);}
.product_img {
	margin-right: 10px;
	text-align: center;
	float: left;
}
.prod_desc_box {
	text-align: left;
	float: left;
	width: 185px;
	margin-left: 5px;
}
.prod_desc_box h3 {
	font-size: 22px;
	font-weight: normal;
	padding-bottom: 8px;
}
.enter {
	text-align: center;
	display: none;
	position: absolute;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 100px;
	left: 0px;
	bottom: 18px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #25824A;
	margin-left: 64px;
}
.enter:hover {background-color:#FF9313;}

h2 {
	text-align: center;
	margin: 35px 20px 40px;
	font-size: 34px;
	font-weight: normal;
	border-bottom: 4px double #333333;
	padding-bottom: 20px;
}
.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #BABDB1;
	margin: 40px auto auto;
	width: 1000px;
	text-align: center;
}
.prod_desc_box .desc {
}
.cboth {
	clear: both;
}
.tbox1 {
	padding: 6px;
	width: 100%;
	font-family: "Trebuchet MS";
	font-size: 14px;
}
.btn_login {
	background-image: url(images/btn_login.png);
	background-repeat: repeat-x;
	background-position: left top;
	color: #FFFFFF;
	border: 1px solid #e52f5f;
	width: 100px;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	cursor:pointer;
	margin-right: 15px;
}
.login {
	width: 260px;
	margin: auto;
	padding: 20px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
.login_btn{
	float:left;
}
.signup_btn{
	float:right;
	position:relative;
	margin-top:42px;
}
.form_hd {
	font-weight: bold;
	font-size: 13px;
	display: block;
	padding-bottom: 6px;
	color:#ffffff;
}
.form {
	padding-bottom: 14px;
}