/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: fixed;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.top_login {
	background-color:rgba(0,0,0,0.3);
	border-bottom:solid #000000 1px;
	z-index:100;
	clear:both;
    text-align: left;
	height:60px;
	position:absolute;
	top:0px;
	padding:10px 0px 10px 0px;
	width:70%;
}
.footer_login {
	background-color:rgba(255,255,255,0.3);
	border-top:solid #FFFFFF 1px;
	z-index:101;
	clear:both;
    text-align: left;
	height:30px;
	position:fixed;
	bottom:0px;
	padding:10px 0px 10px 0px;
	width:70%;
}
.grid_side_edit{
	padding:2px 0px 2px 0px;
	float:left;
	margin-right:19px;
	}
.grid_side_edit a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	vertical-align:middle;
	line-height:20px;
	text-decoration:none;
	color:#ffffff;
	background:#6da8bf;
	padding:5px 25px 5px 25px;
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
}
.grid_side_edit a:hover {
	text-decoration:underline;
	color:#ffffff;
	background:#e74670;
	border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;
}
img.btn_close {
	float: right; 
	margin: -28px -28px 0 0;
}

      .poppup_overlay{ 
	      display: none;
		  position:fixed;
          top: 0%;
		  left: 0%;
          width: 100%;
          height: 100%;
          background-color: black;
		  background-position:fixed;
          z-index:1001;
          -moz-opacity: 0.8;
          opacity:.80;
          filter: alpha(opacity=80);
      }
	  
  * html .poppup_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
	}
  
      .poppup_content 
      {
          width:750px;
          height:450px;
          display: none;
		  position:fixed;
          top: 15%;
          left: 17%;
          padding: 16px;
          border: 1px solid orange;
          background-color: white;
          z-index:102;
		 box-shadow: 0px 0px 10px #999;
	-moz-box-shadow: 0px 0px 10px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 10px #999; /* Safari, Chrome */
	border-radius:10px 10px 10px 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
      }
	  
* html .poppup_content { /* ie6 hack */
	position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}	  
